[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "pypkl"
version = "0.1.0"
description = "Python library for Apple's PKL."
authors = [
    { name = "Jungwoo Yang", email = "jwyang0213@gmail.com" },
]
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
]

[tool.twine]
repository = "pypi"
